<article class="media">
    <figure class="media-left">
    <p class="image is-68x68">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
    </figure>
    <div class="media-content">

    <div class="content">
      <p>

              <strong>{{ product.name }}</strong>
        <br>
        {{ product.description }}
      </p>
    </div>

    <nav class="level">
      <div class="level-left">
           <span class="tag is-light">software</span>
      </div>
    </nav>
    </div>
</article>

