<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'product/bulma/css/bulma.min.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'product:index' %}">
          <h3 class="title">PH</h3>
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-end">
           {% if user.is_authenticated %}
               <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">
                  {{ request.user.username }}
                </a>
                <div class="navbar-dropdown is-right is-boxed">
                   <a href="" class="navbar-item">
                    Dashboard
                   </a>
                   <a class="navbar-item" href="{% url 'product:create' %}">
                    New Product
                  </a>
                  <a class="navbar-item" href="{% url 'logout' %}?next={{request.path}}">
                   Logout
                  </a>
                </div>
              </div>
           {% else %}
                <div class="navbar-item">
                    <div class="field is-grouped">
                      <p class="control">
                          <a href="{% url 'login' %}?next={{request.path}}" class="button is-outlined">Login</a>
                      </p>
                      <p class="control">
                          <a href="{% url 'core:signup' %}" class="button is-outlined">Signup</a>
                      </p>
                    </div>
                </div>
           {% endif %}
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
