{% load humanize %}
{% for comment in comments %}
<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
         <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
    </figure>
    <div class="media-content">
         <div class="content">
          <p>
            <strong>{{ comment.user.username }}</strong>
            <br>
             {{ comment.text }}
            <br>
            <small><a>Like</a> · <a>Reply</a> · {{ comment.created_at|naturaltime }}</small>
          </p>
        </div>
    </div>
</article>
{% endfor %}